body {
margin:0;
font-family:Arial;
background:#f7f6f2;
color:#333;
}

.container{
max-width:1100px;
margin:auto;
padding:20px;
}

.site-header{
background:#222;
color:white;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
}

.hero{
padding:80px;
text-align:center;
background:#eae8e1;
}

footer{
margin-top:60px;
background:#222;
color:white;
padding:20px;
}